<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.huishen.edrive"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <!-- <uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <!-- SDK1.5需要android.permission.GET_TASKS权限判断本程序是否为当前运行的应用? -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 来电消音 -->
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" >
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="false"
        android:resizeable="true"
        android:smallScreens="true" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <!-- 友盟推送相关权限  BEGIN -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- 【可选】根据需要添加 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <!-- 友盟推送相关权限  END -->

    <application
        android:name=".util.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="dGT0u6nfc14H0pET1EtPzErB" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name=".demand.DemandActivity" >
        </activity>
        <activity android:name=".login.VerifyPhoneActivity" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>

        <activity android:name=".demand.PostTxtActivity" >
        </activity>
        <activity android:name=".demand.PostSoundActivity" >
        </activity>
        <activity android:name=".center.CoachDetailActivity" >
        </activity>
        <activity android:name=".login.ServiceInfoActivity" >
        </activity>

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
        </service>
        <!-- 友盟推送元数据 BEGIN -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54d0594ffd98c5baa300081a" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="f7704584f0d5c7f5c9f31ed0f8f6dd03" >
        </meta-data>

        <!-- 友盟推送元数据 END -->


        <!-- 友盟推送相关组件 BEGIN -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

            <!-- 【可选】根据需要添加 -->
            <!--
         <intent-filter>
        <action android:name="android.intent.action.BOOT_COMPLETED" />
    </intent-filter>
            -->

        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.huishen.edrive.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.huishen.edrive.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.huishen.edrive.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- 友盟推送相关组件 END -->

        <activity
            android:name=".demand.CoachActivity"
            android:label="@string/title_activity_coach" >
        </activity>
        <activity
            android:name=".center.CoachTrainFieldActivity"
            android:label="@string/title_activity_coach_train_field" >
        </activity>
        <activity
            android:name=".apointment.ApointmentActivity"
            android:label="@string/title_activity_appointment" >
        </activity>
        <activity
            android:name="com.huishen.edrive.center.CoachListActivity"
            android:label="@string/title_activity_coach_judge_list" >
        </activity>
    </application>

</manifest>